<h1>Listing advertisments</h1>
<% if can? :create, Advertisment %>
<%= link_to "New advertisment", new_advertisment_path, class: "btn btn-lg btn-primary" %>
<% end %>

<% @advertisments.each do |a| %>
<table>
  <tr>
  	<th>
  	  <%= link_to a.title, a %>
    </th>
    <td>
      <%= a.user.first_name %> <%= a.user.second_name %>
    </td>
  </tr>
    <td>
      <%= a.body %>
    </td>
</table>
<% end %>
