<h1><%= t('.title') %></h1>
<% if can? :create, Advertisment %>
<%= link_to t('advertisments.new.title'), new_advertisment_path, class: "btn btn-lg btn-primary" %>
<% end %>

<% @advertisments.each do |ad| %>
<div class="container">
  <div class="row">
    <div class="col-md-8"><%= link_to ad.title, ad %></div>
    <div class="col-6 .col-md-4"><%= ad.user.full_name %></div>
  </div>
  <div class="row">
    <%= ad.body %>
  </div>
</div>
<% end %>
