<%= link_to t('.back'), advertisments_path %>
  <h3><%= @advertisment.title %></h3>
  <p><%= @advertisment.body %></p>
  <p><%= @advertisment.user.full_name %></p>
  <p><%= @advertisment.state %></p>

  <% if can? :update, @advertisment %>
    <%= link_to t('menu.buttons.edit'), edit_advertisment_path, class: "btn btn-info" %>
  <% end %>

  <% if can? :destroy, @advertisment %>
    <%= link_to t('menu.buttons.delete'), advertisment_path(@advertisment), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <% end %>

  <% if @advertisment.state == "drafted" %>
    <%= link_to t('menu.buttons.publish'), [ @advertisment, advertisment: {state_event: :written} ], method: :patch, class: "btn btn-primary" %>
  <% end %>