<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ADS", advertisments_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('menu.home'), root_path %></li>
        <li><%= link_to t('menu.help'), help_path %></li>

        <% if can? :manage, User %>  
          <li><%= link_to t('menu.users'), users_path %></li>
        <% end %>
        
        <% if user_signed_in? %>
          <li><%= link_to t('menu.my_ads'), personal_path %></li>
          <li><%= link_to current_user.first_name, '#' %></li>
        <% else %>
          <li><%= link_to t('menu.login'), new_user_session_path %></li>
        <% end %> 
        
        <% if user_signed_in? %>
          <li><%= link_to t('menu.sign_out'), destroy_user_session_path, method: :delete %></li>
        <% end %> 
      </ul>
    </nav>
  </div>
</header>